# Data Analysis on the Brazilian E-Commerce Public Dataset by Olist
Author : Toni Hari Wibowo (20200801314)

Description : 
This notebook is my Mid Semester Exam at Esa Unggul in the Data Warehouse course, where the assignment was given to us, so we can understand wirehose data. In this notebook is first layer zone, where we extract data to read data in csv file, and then we will clean data first to send to postgreSQL server. In PostgreSQL, the data will be combined into a single table and the final step in this task is to load the data into PowerBI and the data will be visualized for easy analysis.

Outline :
1. Extractcing Data
2. Data Transform
3. Push Data to PostgreSQL

## Import Library

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
from sqlalchemy import create_engine

import matplotlib.pyplot as plt
import psycopg2.extras

## 1. Data Extraction

In [ ]:
## read list dataset in directory data
os.listdir("../data")

['.ipynb_checkpoints',
 'olist_customers_dataset.csv',
 'olist_geolocation_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv',
 'olist_sellers_dataset.csv',
 'product_category_name_translation.csv']

In [3]:
## check empty value
missing_values = ["?","N/a","na",np.nan]
## read dataset
olist_customers = pd.read_csv("../data/olist_customers_dataset.csv" , na_values = missing_values)
olist_geolocation = pd.read_csv("../data/olist_geolocation_dataset.csv" , na_values = missing_values)
olist_order_items = pd.read_csv("../data/olist_order_items_dataset.csv" , na_values = missing_values)
olist_order_payments = pd.read_csv("../data/olist_order_payments_dataset.csv" , na_values = missing_values)
olist_order_reviews = pd.read_csv("../data/olist_order_reviews_dataset.csv" , na_values = missing_values)
olist_orders = pd.read_csv("../data/olist_orders_dataset.csv" , na_values = missing_values)
olist_products = pd.read_csv("../data/olist_products_dataset.csv" , na_values = missing_values)
olist_sellers = pd.read_csv("../data/olist_sellers_dataset.csv" , na_values = missing_values)
product_category_name_translation= pd.read_csv("../data/product_category_name_translation.csv" , na_values = missing_values)

## 2. Data Transformation

In [4]:
olist_order_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87657
review_comment_message     58251
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [5]:
olist_order_reviews.shape

(99224, 7)

In [6]:
## remove review_comment_title column & review_comment_message column 
olist_order_reviews = olist_order_reviews.drop(['review_comment_title'], axis=1)
olist_order_reviews = olist_order_reviews.drop(['review_comment_message'], axis=1)
olist_order_reviews.head(2)

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10 00:00:00,2018-03-11 03:05:13

#### olist_orders

In [7]:
olist_orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [8]:
olist_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

#### olist_products

In [9]:
olist_products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [10]:
olist_orders = olist_orders.dropna()
olist_products = olist_products.fillna(method='ffill')

In [11]:
olist_orders.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [12]:
olist_products.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

## 3. Push Data to PostgreSQL

In [13]:
## Merge dataframe olist_orders with all Dataframe
result_olist_marged = olist_orders.merge(olist_order_items, on='order_id', how='left')
result_olist_marged = result_olist_marged.merge(olist_order_payments, on='order_id', how='outer', validate='m:m')
result_olist_marged = result_olist_marged.merge(olist_order_reviews, on='order_id', how='outer')
result_olist_marged = result_olist_marged.merge(olist_products, on='product_id', how='outer')
result_olist_marged = result_olist_marged.merge(olist_customers, on='customer_id', how='outer')
result_olist_marged = result_olist_marged.merge(olist_sellers, on='seller_id', how='outer')
result_olist_marged = result_olist_marged.merge(product_category_name_translation, on='product_category_name')

# remove duplicate order_id
result_olist_marged= result_olist_marged.drop_duplicates(subset='order_id')

result_olist_marged.shape

(96443, 38)

In [14]:
rename_olist_customers = olist_customers.rename(columns={"customer_zip_code_prefix":"geolocation_zip_code_prefix"})
geolocation_customers= pd.merge(rename_olist_customers, olist_geolocation, on="geolocation_zip_code_prefix", how="left")
geolocation_customers= geolocation_customers.drop_duplicates(subset ="customer_unique_id")
geolocation_customers = geolocation_customers.dropna( subset=["geolocation_lng"])
geolocation_customers = geolocation_customers.dropna( subset=["geolocation_lat"])
geolocation_customers = geolocation_customers.head(50000)

In [15]:
rename_olist_sellers= olist_sellers.rename(columns={"seller_zip_code_prefix":"geolocation_zip_code_prefix"})
geolocation_seller = pd.merge(rename_olist_sellers, olist_geolocation, on="geolocation_zip_code_prefix")
geolocation_seller = geolocation_seller.drop_duplicates(subset ="seller_id")
geolocation_seller = geolocation_seller.dropna( subset=["geolocation_lat"])
geolocation_seller = geolocation_seller.dropna( subset=["geolocation_lng"])
geolocation_seller = geolocation_seller.head(50000)

In [16]:
engine = create_engine('postgresql://postgres:YourPassword@localhost:Port/Database_name')
result_olist_marged.to_sql('result_olist_marged', engine, if_exists="replace")
geolocation_customers.to_sql('geolocation_customers', engine, if_exists="replace")
geolocation_seller.to_sql('geolocation_sellers', engine, if_exists="replace")

# olist_customers.to_sql('olist_customers', engine, if_exists="replace")
# olist_sellers.to_sql('olist_sellers', engine, if_exists="replace")
# olist_order_reviews.to_sql('olist_order_reviews', engine, if_exists="replace")
# olist_order_items.to_sql('olist_order_items', engine, if_exists="replace")
# olist_products.to_sql('olist_products', engine, if_exists="replace")
# olist_geolocation.to_sql('olist_geolocation', engine, if_exists="replace")
# product_category_name_translation.to_sql('product_category_name_translation', engine, if_exists="replace")
# olist_orders.to_sql('olist_orders', engine, if_exists="replace")
# olist_order_payments.to_sql('olist_order_payments', engine, if_exists="replace")

In [17]:
## Test the code by select the complete table
drop_column='''ALTER TABLE geolocation_sellers DROP COLUMN index''';
engine.execute(drop_column)

sql='''
Select * from geolocation_sellers limit 5''';
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,seller_id,geolocation_zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.898536,-47.063125,campinas,SP
1,e0eabded302882513ced4ea3eb0c7059,13023,campinas,SP,-22.898536,-47.063125,campinas,SP
2,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,-22.382941,-46.946641,mogi-guacu,SP
3,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ,-22.910641,-43.176510,rio de janeiro,RJ
4,1d2732ef8321502ee8488e8bed1ab8cd,20031,rio de janeiro,RJ,-22.910641,-43.176510,rio de janeiro,RJ

In [18]:
## Test the code by select the complete table

drop_column='''ALTER TABLE geolocation_customers DROP COLUMN index''';
engine.execute(drop_column)

sql='''
Select * from geolocation_customers limit 5
''';

df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,customer_id,customer_unique_id,geolocation_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.726853,-46.545746,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.527788,-46.660310,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.496930,-46.185352,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.987222,-47.151073,campinas,SP

In [20]:

print('The columns of olist_customers are :-  ',olist_customers.columns)
print('\n')
print('The columns of olist_sellers are :-  ',olist_sellers.columns)
print('\n')
print('The columns of olist_order_reviews are :-  ',olist_order_reviews.columns)
print('\n')
print('The columns of olist_order_items are :-  ',olist_order_items.columns)
print('\n')
print('The columns of olist_products are :-  ',olist_products.columns)
print('\n')
print('The columns of olist_geolocation are :-  ',olist_geolocation.columns)
print('\n')
print('The columns of product_category_name_translation are :-  ',product_category_name_translation.columns)
print('\n')
print('The columns of olist_orders_dataset are :-  ',olist_orders.columns)
print('\n')
print('The columns of olist_order_payments are :-  ',olist_order_payments.columns)

The columns of olist_customers are :-   Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')


The columns of olist_sellers are :-   Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')


The columns of olist_order_reviews are :-   Index(['review_id', 'order_id', 'review_score', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')


The columns of olist_order_items are :-   Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')


The columns of olist_products are :-   Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')


The columns of olist_geolocation are :-   Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')


The columns of product_category_name_translation are :-   Index(['product_category_name', 'product_category_name_english'], dtype='object')


The columns of olist_orders_dataset are :-   Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')


The columns of olist_order_payments are :-   Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')